*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
text-align: center;

}

.headinng{
    background-color: yellowgreen;
    width: 400px;
    padding: 80px 0;
    margin: auto;
    border-radius: 10px;
    margin-top: 60px;
}
h1{
    color: blue;
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
}
button{
    padding: 10px 20px;
    background-color: goldenrod;
    color: black;
    border: 2px solid goldenrod;
    border-radius: 5px;
    margin: 20px 0;
}
input{
    padding: 10px 20px;
    border: 1px solid wheat;
    outline: none;
    margin:20px 0;
    border-radius: 5px;
}
.round span{
    height: 25px;
    width: 25px;
    background-color: teal;
    border-radius: 50%;
    display:inline-block;


}
h2{
   
    color:yellow;
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
}
.colorChange{
    background-color:red !important;
}
